# Python cache and compiled files
__pycache__/
*.pyc

# Virtual environment
.venv/
env/

# Environment variables
.env

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Database (if you export or store credentials in files)
*.sql
*.dump
*.mysql
